{% extends 'base.html' %}

{% block header %}
<h1 class="text-center display-3 text-dark pb-0 mt-5 font-weight-light">{% block title %}Lista de mantenciones {{g.user['username']}} {% endblock %}</h1>
{% endblock %}

{% block content %}

    <div class="col-12  d-flex justify-content-center">
  <form method="post">
    <label for="idProducto">ID USUARIO</label>
    <input name="idProducto" id="idProducto" value="{{ g.user['id'] }}" disabled>
    
    <button type="button" id="buscarProductos" class="btn btn-primary">Buscar</button>
  </form>
  </div>
  <br>
  <div class="col-12 d-flex justify-content-center">
  <table id="mi_tabla" class="table table-striped col-10">

    
        <tr>
            <td>Id mantención</td>
            <td>Id usuario</td>
            <td>descripción</td>
            <td>fecha</td>
        </tr>
  
  </table>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/listarMantenciones.js') }}"></script>



{% endblock %}