{% block barra_nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white col-12 ">
        <a class="navbar-brand" href="#">Buenos Aires</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('pagar.realizarPago') }}">Pagar</a>
              </li>
              {% if g.user %}
              
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('productos.obtenerProductos') }}">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('mantenciones.obtenerMantenciones') }}">Solicitar mantención</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{{ url_for('mantenciones.listarMantenciones') }}">Ver mis mantenciones</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="{{ url_for('autenticar.logout') }}">Cerrar Sesión</a>
           </li>

               
              {% else %}

            
            <li class="nav-item">
              <a class="nav-link text-white" href="{{ url_for('autenticar.registrar') }}">Registrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{{ url_for('autenticar.login') }}">Iniciar Sesión</a>
            </li>
            {% endif %}


          </ul>
        </div>
      </nav>
{% endblock %}